:root {
  --yellow: rgb(211, 211, 5);
  --purple: rgb(118, 5, 211);
  --pink: rgb(197, 3, 132);
  --red: rgb(185, 4, 4);
}

*{
  box-sizing: border-box;
}

.game-container {
  display: none;
}

.start-container {
  display: block;
}

.cards {
  border: 1px solid red;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.players {
  border: 1px solid black;
  margin-top: 10px;
  height: 150px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player {
  border: 1px solid green;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.draw {
  border: 1px solid red;
  padding: 20px;
  margin-top: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  font-size: 1.2rem;
}

.cards .color {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.cards .color.red,
.colors p span.red {
  background-color: var(--red);
}

.cards .color.yellow,
.colors p span.yellow {
  background-color: var(--yellow);
}

.cards .color.purple,
.colors p span.purple {
  background-color: var(--purple);
}

.cards .color.pink,
.colors p span.pink {
  background-color: var(--pink);
}

.colors {
  margin-top: 10px;
}

.colors p span {
  display: block;
  float: left;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

#restart {
  display: none;
}