:root {
  --yellow: rgb(211, 211, 5);
  --purple: rgb(118, 5, 211);
  --pink: rgb(197, 3, 132);
  --red: rgb(185, 4, 4);
  --bg: rgb(139, 134, 137);
  --dark-bg: rgb(94, 86, 91);
  --text: rgb(253, 223, 223);
  --active: rgb(160, 4, 121);
  --card-bg : bisque;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.start-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
  gap: 1rem;
  gap: 1.5rem;
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--text);
  flex-wrap: wrap;
}

.player-list div {
  background-color: var(--dark-bg);
  padding: .25rem;
}

.new-player-input {
  position: relative;
  width: 15rem;
  height: 2rem;
}

.new-player-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid var(--dark-bg);
  font-size: 1.2rem;
  transition: color .2s;
}

.new-player-input label {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
  color: white;
  width: 100%;
  line-height: 2rem;
  pointer-events: none;
  font-size: 1.2rem;
  transition: top .2s, left .2s, font-size .2s;
  color: var(--dark-bg);
}

.new-player-input input:active + label,
.new-player-input input:focus + label,
.new-player-input input:valid + label {
  padding: 0;
  top: -20px;
  left: 0;
  font-size: 1rem;
}

.new-player-input button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .2s;
}

.new-player-input button:hover,
.new-player-input button:hover + input {
  color: white;
}

#start-game {
  border: none;
  outline: none;
  background-color: transparent;
  width: 6rem;
  height: 2rem;
  border: 1px solid var(--dark-bg);
  background-color: var(--dark-bg);
  color: white;
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

#start-game:hover {
  background-color: white;
  color: var(--dark-bg);
}

.game-container {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 1rem;
  flex-wrap: wrap;
}

.utils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  flex-wrap: wrap;
}

.actual-player {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--dark-bg);
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.actual-player .active {
  color: white;
  animation: pulse 2s infinite;
}

.cards {
  width: 12.5rem;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: .5rem;
  background-color: var(--card-bg);
  font-size: 1.1rem;
  border-radius: 1.25rem;
}

.players {
  border: 1px solid black;
  margin-top: 10px;
  height: 150px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player {
  border: 1px solid green;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.draw {
  padding: 20px;
  width: 25rem;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.2rem;
  border-radius: 1.25rem;
  background-color: var(--card-bg);
}

.break {
  flex-basis: 100%;
  width: 0;
}

.cards .color {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.cards .color.red,
.colors p span.red {
  background-color: var(--red);
}

.cards .color.yellow,
.colors p span.yellow {
  background-color: var(--yellow);
}

.cards .color.purple,
.colors p span.purple {
  background-color: var(--purple);
}

.cards .color.pink,
.colors p span.pink {
  background-color: var(--pink);
}

.colors {
  display: none;
  padding: 0 2rem 0 .5rem;
}

.colors p span {
  display: block;
  float: left;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

#restart {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  width: 6rem;
  height: 2rem;
  border: 1px solid var(--dark-bg);
  background-color: var(--dark-bg);
  color: white;
  cursor: pointer;
  transition: color .2s, background-color .2s;
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: black;
  color: white;
  padding: .25rem;
  border-radius: .4rem;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .game {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .colors {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  } 50% {
    opacity: .3;
  } 100% {
    opacity: 1;
  }
}
